
{{#each error}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
 
{{/each}}

<h3>Editar categoria</h3>
<div class="card">
    <div class="card-body">
        <form action='/admin/categorias/edit' method="POST">
        <input type="hidden" value="{{categoria._id}}" name="id">
            <label for="nome">Nome:</label>
                <input  type="text" id="nome " name="nome" placeholder="Novo nome categoria" class="form-control" value="{{categoria.nome}}">
            <label for="slug">Slug:</label>
                <input  type="text" id="slug" name="slug" placeholder="Novo slug da categoria" class="form-control" value="{{categoria.slug}}"> 
        <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </form>
    </div>
</div>

